:root {
    --font-base: "Lato", sans-serif;
    --bg-color: #ffffff;
    --bg-color-footer: #245852;

    --color-btn: #01996d;

    --color-text-dark: #292929;
    --color-text-large: #484848;
    --color-text-light: #424242;
    --color-text-green: #01996d;



    --breakpoint-phone: 576px;
    --breakpoint-tablet: 768px;
    --breakpoint-notebook: 992px;
    --breakpoint-desktop: 1200px;
}
